<header>
  <div class="container">
    <div class="header-content">
      <app-logo></app-logo>
      <div class="user">
        <div *ngIf="username">
          <i class="fas fa-user"></i>
          {{ username }}
        </div>
        <a *ngIf="!isAuthorized" [routerLink]="['login']">
          <i class="fas fa-user"></i>
          Login
        </a>
        <button *ngIf="isAuthorized" class="logout" (click)="logout()">
          <i class="fas fa-user"></i>
          Log out
        </button>
      </div>
    </div>
  </div>
</header>
