<div class="container login-page-container">
  <div class="w-100 d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col-5">
        <div class="card login-page-card">
          <div class="card-body">
            <div class="card-title">
              Login
            </div>
            <form (ngSubmit)="submit()">
              <div class="form-group">
                <label for="inputLogin" class="w-100">
                  <div
                    class="d-flex justify-content-between align-items-end"
                  >
                    <span>Login address</span>
                    <span class="required">* required</span>
                  </div>
                </label>
                <input
                  [(ngModel)]="login"
                  type="login"
                  name="login"
                  class="form-control"
                  id="inputLogin"
                  aria-describedby="loginHelp"
                  placeholder="Enter login"
                  required
                  minlength="3"
                />
              </div>
              <div class="form-group">
                <label for="inputPassword" class="w-100">
                  <div
                    class="d-flex justify-content-between align-items-end"
                  >
                    <span>Password</span>
                    <span class="required">* required</span>
                  </div>
                </label>
                <input
                  [(ngModel)]="password"
                  type="password"
                  name="password"
                  class="form-control"
                  id="inputPassword"
                  placeholder="Password"
                  required
                  minlength="3"
                />
              </div>
              <div
                class="login-page-card-actions d-flex justify-content-between align-items-center mt-5"
              >
                <a href="#">Forgot password?</a>
                <button type="submit" class="btn btn-lg btn-primary" [disabled]="!login || !password">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
