<form action="">
  <div class="form-group">
    <label
      for="inputTitle"
      class="w-100 d-flex justify-content-between align-items-end"
    >
      <span>Title</span>
      <span class="required">* required</span>
    </label>
    <input
      [(ngModel)]="course.title"
      type="text"
      name="title"
      class="form-control"
      id="inputTitle"
      placeholder="Title"
      required
      minlength="3"
    />
  </div>
  <div class="form-group">
    <label
      for="inputDescription"
      class="w-100 d-flex justify-content-between align-items-end"
    >
      <span>Description</span>
      <span class="required">* required</span>
    </label>
    <textarea
      [(ngModel)]="course.description"
      name="description"
      class="form-control"
      id="inputDescription"
      placeholder="Add description"
      rows="5"
      required
      minlength="3"
    ></textarea>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label
          for="inputDuration"
          class="w-100 d-flex justify-content-between align-items-end"
        >
          <span>Duration</span>
          <span class="required">* required</span>
        </label>
        <input
          [(ngModel)]="course.duration"
          type="text"
          name="duration"
          class="form-control"
          id="inputDuration"
          placeholder="minutes"
          required
          minlength="3"
        />
      </div>
      <div class="form-group">
        <label
          for="inputDate"
          class="w-100 d-flex justify-content-between align-items-end"
        >
          <span>Date</span>
          <span class="required">* required</span>
        </label>
        <input
          [(ngModel)]="course.creationDate"
          type="text"
          name="date"
          class="form-control"
          id="inputDate"
          placeholder="mm-dd-yyyy"
          required
        />
      </div>
    </div>
  </div>
  <div class="new-course-actions d-flex justify-content-end">
    <button class="btn btn-lg btn-secondary mr-2" type="button">
      Cancel
    </button>
    <button class="btn btn-lg btn-success" type="submit">Save</button>
  </div>
</form>
