<div class="course d-flex justify-content-between align-items-center" [ngClass]="{'top-rated': course.topRated}" [appHighlightNew]="course.creationDate">
  <div class="course-info">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="course-title">
        {{ course.title | uppercase }}
        <i *ngIf="course.topRated" class="fas fa-star"></i>
      </h2>
      <div class="course-meta d-flex justify-content-end align-items-center">
        <div class="mr-2">
          <i class="fas fa-clock"></i>
          {{ course.duration | time }}
        </div>
        <div>
          <i class="fas fa-calendar-alt"></i>
          {{ course.creationDate | date }}
        </div>
      </div>
    </div>
    <div class="course-description">{{ course.description }}</div>
  </div>
  <div class="course-actions">
    <div class="d-flex justify-content-center">
      <button [routerLink]="['/courses/', course.id]" class="btn btn-info mr-2">
        <i class="fas fa-pen"></i>
        Edit
      </button>
      <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-trash"></i>
        Delete
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete this course?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDelete()">Yes</button>
      </div>
    </div>
  </div>
</div>
