/* You can add global styles to this file, and also import other style files */

@import '~normalize.css';

@import '~@fortawesome/fontawesome-free/css/all.css';

@import '~bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap&subset=cyrillic-ext');

:root {
  --soft-blue: #577ce6;
  --dark-sky-blue: #30b6dd;
  --steel: #868996;
  --slate-grey: #525462;
  --dark: #2c2f3c;
  --black: #000000;
  --pear: #e2f86a;
  --seafoam-blue: #76cdd8;
  --charcoal-grey: #414452;
  --cloudy-blue: #b9bdce;
  --silver: #c0c3ce;
  --pale-grey: #d9dbe3;
  --pale-grey-two: #f2f3f7;
  --battleship-grey: #6c7283;
  --soft-blue-two: #5681ee;
  --cool-grey: #a8a9b4;
  --slate-grey-two: #5b616f;
  --sick-green: #9bc837;
}

html {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
}

html, body {
  height: 100%;
  background: #f2f3f7;
}

.input {
  height: 48px;
  border: 1px solid #d9dbe3;
  border-radius: 3px;
  padding: 0.85rem;
}

.input--icon {
  padding-left: 3rem;
}

.form-input {
  position: relative;
}

.form-input > .fas {
  position: absolute;
  top: calc(50% - 0.5rem);
  left: 0.85rem;
  color: #b3b5bd;
}

.btn {
  font-weight: 600;
}

.btn-info {
  background-color: var(--dark-sky-blue);
  border-color: var(--dark-sky-blue)
}

.btn-success {
  background-color: var(--sick-green);
  border-color: var(--sick-green)
}

.form-group label {
  font-family: SourceSansPro, 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.22px;
  color: var(--slate-grey);
}
